body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}


#container {
    width:540px;
    height:540px;
   
    border:5px solid black;


    display: flex;
    flex-wrap: wrap;     
    gap: 0px;

  
}

.box{
    flex:0 0 auto;
    border:0px solid rgb(0, 0, 0);
}